/*
Set the box sizing for every element on the page
to border-box. This will ensure that elements have padding and 
border included in the element's total width and height.
*/


/*
Target the body element and set some common styles for the page:
 - background color to black
 - text color to white
 - font to helvetica
 - font size to 16px
*/


/*
override our h1 style to have a font size of 32px
*/



/*
override our h2 style to have a font size of 28px
*/


/*
style the element with the id of header-statement to have centered text
*/



/*
target the elements with a class of page-row and set the following properties:
 - width to 100%
 - set the clear property to both //ensures elements that are floated cant be on the left or right of this element
 - give the element a padding of 5%
 - give the element a margin of 2% on the top and bottom
*/



/*
target the elements with a class of card and set the following properties:
 - width to 20%
 - height to 300px
 - margin to 2.5%
 - top padding to 15%
 - float to left
 - background color to white
 - align the text to the center
 - text color to black
 - background size to contain //Scale the image to the largest size such that both its width and its height can fit inside the content area
 - background to not repeat
*/


 
/*
target the element with the id of hero and set the following properties
 - width to 100%
 - height to 450px
 - background size to cover //Scale the background image to be as large as possible so that the background area is completely covered by the background image.
 - background to not repeat
 - background image to our hero image (travel_hero.jpg) in our assets/images directory
 - background image to be fixed // this will give the effect of the page scrolling over the hero image
*/



/*
target the element with the class of card that also has an id of spain
 - set the background image to (spain_flag.svg) in our assets/images directory
*/


/*
target the element with the class of card that also has an id of italy
- set the background image to (italy_flag.svg) in our assets/images directory
*/



/*
target the element with the class of card that also has an id of aruba
- set the background image to (aruba_flag.svg) in our assets/images directory
*/



/*
target the element with the class of card that also has an id of chile
- set the background image to (chile_flag.svg) in our assets/images directory
*/



/*
 target the header element and set the following properties:
  - width to 100%
  - height to 100px
  - line height to 100px
*/
 


/*
 target the element with the id of logo and float it to the left
*/


/*
 target the nav element and float it to the right
*/


 /*
 target the element with the id of nav-list
  - remove all margin and padding
  - remove bullets from the unorder list
*/


/*
 target the elements with the class of nav-link
  - make the links sit on the same line
  - top and bottom padding to 5px
  - left and right padding to 15px
*/


/*
 target the links inside header element
  - remove the underline from the links
  - make sure the text is white
*/



/*
 target the table element 
  - give a 2px black solid border to the table
  - collapse the border to remove spacing between cells
  - make the width 100%
*/



/*
 target the tr, td, and th elements
  - give a 2px black solid border to the table
*/



/*
 target the th element 
  - background color to black
  - text color to white
*/


/*
 target the element with the id of travel-table 
  - make the text color black
  - make the background color white
*/


/*
 target the h3 element within the element with the id of travel-table 
  - center align the text
*/


/*
 target the footer element
  - width to 100%
  - height to 100px
  - line height to 100px
*/



/*
 target the element with the id of copyright and float it to the left
*/


/*
 target the element with the id of social-links
  - float the social links to the right
  - give a top and bottom padding of 5px
  - give a left and right padding of 15px
*/


/*
 target the links inside the element with the id of social-links
  - make sure the text is white and there is no underline
*/
